---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import TopBorder from "../components/TopBorder.astro";
import BottomBorder from "../components/BottomBorder.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="NachDev - Pedro Martinez"
  description="Portafolio Pedro Martinez- Analista Programador y Ingenieria en informática. Página sobre mí y experiencia como profesional."
>
  <main class="bg-background dark:bg-primary">
    <Hero />
    <TopBorder />
    <div class="bg-secondary py-8 dark:bg-dark-secondary">
      <About />
      <Skills />
    </div>
    <BottomBorder />
    <Projects />
    <Contact />
  </main>
</Layout>
