---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import TopBorder from "../components/TopBorder.astro";
import BottomBorder from "../components/BottomBorder.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portafolio - Pedro Martinez">
  <main>
    <Hero />
    <TopBorder />
    <div class="bg-secondary py-8">
      <About />
      <Skills />
    </div>
    <BottomBorder />
    <Projects />
    <Contact />
  </main>
</Layout>

<style></style>
