---
import Title from "./Title.astro";
---

<section class="-mt-4 pt-10 px-4"  id="contact">
  <div class="mx-auto max-w-3xl">
    <Title bg="bg-background text-black dark:bg-primary dark:text-white">Contacto</Title>
    <p class="text-lg md:text-xl text-center mt-4 text-balance dark:text-white">
      Si buscas fortalecer tu equipo, ¡estaré encantado de colaborar contigo!
      Escríbeme.{" "}
    </p>
    <form class="py-8 flex flex-col gap-y-4 mx-auto">
      <div class="flex flex-col md:flex-row gap-4">
        <label for="name" class="hidden">Tu nombre</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Tu nombre"
          class="outline-none border-b border-b-slate-600 h-[60px] bg-transparent w-full p-4 placeholder:text-[#757879] border border-gray-200 rounded-t-md dark:bg-slate-200"
        />
        <label for="email" class="hidden">Tu Correo electrónico</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Tu correo electrónico"
          class="outline-none border-b border-b-slate-600 h-[60px] bg-transparent w-full p-4 placeholder:text-[#757879] border border-gray-200 rounded-t-md dark:bg-slate-200"
        />
      </div>
      <textarea
        name="message"
        placeholder="Tu mensaje"
        class="resize-none p-4 outline-none border-b border-b-slate-600 h-[100px] md:h-[250px] bg-transparent w-full placeholder:text-[#757879] border border-gray-200 rounded-t-md focus:outline-none dark:bg-slate-200"
      ></textarea>

      <button class={`button transition duration-500 bg-transparent dark:bg-dark-secondary border-2 border-black before:bg-third dark:before:bg-dark-background dark:text-white text-black hover:text-white dark:hover:text-black`}>
        Enviar Mensaje</button
      >
    </form>
  </div>
</section>

<style>
  .button {
    padding: 0.8em 1.8em;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    font-weight: 600;
  }

  .transform-button {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .button::before {
    content: "";
    width: 0;
    height: 2000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  .button:hover::before {
    width: 105%;
  }

  .button:hover {
    border: 2px solid #457B9D;
  }
</style>
