---
import { optionNav } from "../../constants/index.js";
import Container from "./Container.astro";
---

<footer class="bg-third text-white">
  <Container>
    <div class="relative py-16 lg:pt-24">
      <div class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-0 lg:top-8">
        <a
          class="inline-block rounded-full bg-fourth p-2 text-white shadow transition hover:bg-fourth/80 sm:p-3 lg:p-4"
          href="#home"
        >
          <span class="sr-only">Back to top</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>

      <div class="lg:flex lg:items-center lg:justify-between lg:-mt-20">
        <div>
          <div class="flex justify-center lg:justify-start">
            <img src="/favicon.svg" class="w-20 h-20" alt="logo" />
          </div>

          <p class="mx-auto mt-6 max-w-sm leading-relaxedlg:text-left">
            En el cosmos de la informática, cada línea de código es una estrella
            en el vasto universo digital, iluminando caminos hacia innovaciones
            que transforman el mundo.
          </p>
        </div>

        <ul
          class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-8 lg:justify-end lg:gap-12"
        >
          {
            optionNav.map((option) => (
              <li>
                <a href={option.path}>{option.name}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <p class="mt-12 text-center text-sm text-gray-100 lg:text-right">
        Copyright &copy;NachDev 2024. All rights reserved.
      </p>
    </div>
  </Container>
</footer>
