---
import { optionNav } from "../../constants/index.js";
import Switch from "./Switch.svelte";
import Container from "./Container.astro";
import Logo from "./Logo.astro";
import MenuButton from "./MenuButton.jsx";

const currentPath = Astro.url.pathname;
---

<header
  class="fixed w-full bg-background dark:bg-dark-secondary dark:border-b dark:border-dark-third/40 shadow-sm z-30"
>
  <Container>
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <Logo />
      </div>

      <div class="hidden md:block">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            {
              optionNav.map((option) => (
                <li>
                  <a
                    class="text-gray-700 transition font-semibold hover:text-gray-950 text-base dark:text-dark-primary"
                    href={currentPath == "/" ? option.path : `/${option.path}`}
                  >
                    {option.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <Switch client:only />
      </div>

      <div class="block md:hidden">
        <MenuButton currentPath={currentPath} client:load />
      </div>
    </div>
  </Container>
</header>
