---
import { listProjects as lsProjects } from "../../constants";
import Container from "./Container.astro";
import Title from "./Title.astro";
import ListProject from './ListProject'
---

<section class="" id="projects" class="pt-2">
  <div class="-mt-10 md:-mt-28 pt-20">
    <Container>
      <Title bg="bg-background text-black">Proyectos</Title>
      <ListProject listProjects={lsProjects} client:idle/>
    </Container>
  </div>
</section>
