---
import Container from "./Container.astro";
import Html from "./icons/Html.astro";
import JavaScript from "./icons/JavaScript.astro";
import Css from "./icons/Css.astro";
import Php from "./icons/Php.astro";
import Mongodb from "./icons/Mongodb.astro";
import Mysql from "./icons/Mysql.astro";
import Vscode from "./icons/Vscode.astro";
import React from "./icons/React.astro";
import Laravel from "./icons/Laravel.astro";
import Nextjs from "./icons/Nextjs.astro";
import Remix from "./icons/Remix.astro";
import Vite from "./icons/Vite.astro";
import TypeScript from "./icons/TypeScript.astro";
import Title from "./Title.astro";
import { Image } from "astro:assets";
import ItemMessage from "./ItemMessage.astro";
---

<section class="-mt-4 pt-20 pb-16" id="skills">
  <Container>
    <Title bg="subtitle"> Habilidades </Title>
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center gap-8 mt-8"
    >
      <div class="relative group bg-white p-4 rounded-full">
        <Html />
        <ItemMessage title="HTML" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <JavaScript />
        <ItemMessage title="JavaScript" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Css />
        <ItemMessage title="CSS" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Php />
        <ItemMessage title="PHP" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Mongodb />
        <ItemMessage title="MongoDB" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Mysql />
        <ItemMessage title="Mysql" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Vscode />
        <ItemMessage title="VsCode" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <React />
        <ItemMessage title="React" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Laravel />
        <ItemMessage title="Laravel" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Nextjs />
        <ItemMessage title="Nextjs" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Image
          src={"/src/astro.svg"}
          alt="imagen astro"
          class="size-16 group-hover:scale-125 transition duration-300 ease-in-out"
          width={69}
          height={69}
        />
        <ItemMessage title="Astro" />
      </div>
      <div class="group bg-white p-4 rounded-full relative">
        <Remix />
        <ItemMessage title="Remix" />
      </div>
      <div class="group bg-white p-[26px] rounded-full relative">
        <Vite />
        <ItemMessage title="Vite" />
      </div>
      <div class="group bg-white p-[26px] rounded-full relative">
        <TypeScript />
        <ItemMessage title="TypeScript" />
      </div>
    </div>
  </Container>
</section>
