---
import Container from "./Container.astro";
import Html from "./icons/Html.astro";
import JavaScript from "./icons/JavaScript.astro";
import Css from "./icons/Css.astro";
import Php from "./icons/Php.astro";
import Mongodb from "./icons/Mongodb.astro";
import Mysql from "./icons/Mysql.astro";
import Vscode from "./icons/Vscode.astro";
import Figma from "./icons/Figma.astro";
import React from "./icons/React.astro";
import Laravel from "./icons/Laravel.astro";
import Nextjs from "./icons/Nextjs.astro";
import Remix from "./icons/Remix.astro";
import Title from "./Title.astro";
import { Image } from "astro:assets";
---

<section class="-mt-4 pt-20 pb-16" id="skills">
  <Container>
    <Title> Habilidades </Title>
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center gap-8 mt-8"
    >
      <div class="group bg-white p-4 rounded-full">
        <Html />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <JavaScript />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Css />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Php />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Mongodb />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Mysql />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Vscode />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <React />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Laravel />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Nextjs />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Image
          src={"/src/astro.svg"}
          alt="imagen astro"
          class="size-16 group-hover:scale-125 transition duration-300 ease-in-out"
          width={69}
          height={69}
        />
      </div>
      <div class="group bg-white p-4 rounded-full">
        <Remix />
      </div>
    </div>
  </Container>
</section>
